@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Roboto', Courier, monospace;
  margin: 0;
  background-color: #eeeeee;
}
